java/avro/.idea/
java/avro/commons/commons.iml
java/avro/commons/pom.xml~
java/avro/commons/target/
java/avro/flink/flink.iml
java/avro/flink/pom.xml~
java/avro/flink/src/main/java/flink/parquet/ParquetAvroExample.java~
java/avro/flink/src/main/java/flink/parquet/filter/PersonFilter.java~
java/avro/flink/target/
java/avro/newpath/
java/avro/parent.iml
java/avro/pom.xml~
java/avro/target/
java/protobuf/.idea/
java/protobuf/commons/commons.iml
java/protobuf/commons/pom.xml~
java/protobuf/commons/target/
java/protobuf/flink/flink.iml
java/protobuf/flink/pom.xml~
java/protobuf/flink/src/main/java/flink/parquet/ParquetProtobufExample.java~
java/protobuf/flink/src/main/java/flink/parquet/filter/PersonFilter.java~
java/protobuf/flink/target/
java/protobuf/newpath/
java/protobuf/parent.iml
java/protobuf/pom.xml~
java/protobuf/target/
java/thrift/.idea/
java/thrift/commons/commons.iml
java/thrift/commons/pom.xml~
java/thrift/commons/target/
java/thrift/flink/flink.iml
java/thrift/flink/pom.xml~
java/thrift/flink/src/main/java/flink/parquet/ParquetThriftExample.java~
java/thrift/flink/src/main/java/flink/parquet/filter/PersonFilter.java~
java/thrift/flink/target/
java/thrift/newpath/
java/thrift/parent.iml
java/thrift/pom.xml~
java/thrift/target/
scala/protobuf/.idea/
scala/protobuf/commons/commons.iml
scala/protobuf/commons/pom.xml~
scala/protobuf/commons/target/
scala/protobuf/flink/flink.iml
scala/protobuf/flink/pom.xml~
scala/protobuf/flink/src/main/scala/parquet/ParquetProtobufExample.scala~
scala/protobuf/flink/src/main/scala/parquet/filter/PersonFilter.scala~
scala/protobuf/flink/target/
scala/protobuf/newpath/
scala/protobuf/parent.iml
scala/protobuf/pom.xml~
scala/protobuf/target/
tutorial/_layouts/default.html~
tutorial/parquet_flinktacular.md~
tutorial/target/

