java/avro/.idea/
java/avro/commons/target/
java/avro/flink/target/
java/avro/newpath/
java/avro/target/
java/protobuf/.idea/
java/protobuf/commons/target/
java/protobuf/flink/target/
java/protobuf/newpath/
java/protobuf/target/
java/thrift/.idea/
java/thrift/commons/target/
java/thrift/flink/target/
java/thrift/newpath/
java/thrift/target/
scala/protobuf/.idea/
scala/protobuf/commons/target/
scala/protobuf/flink/target/
scala/protobuf/newpath/
scala/protobuf/target/
tutorial/target/
*.iml
*~

